@charset "utf-8";
//初始化样式
$baseColor:#529824;
body{
    font-family: "微软雅黑";
}
li{list-style: none;}
a:hover,a:focus{text-decoration: none;}
.navbar{
    min-height: 100px;
    background-color: #FFFFFF;
    border: none;
    .container{
        padding: 0;
    }
}
.nav_logo{
    padding: 16px 15px;
}
.navbar-inverse .head_need{
    padding: 0;
    border: none;
    position: relative;
}
.navbar-inverse .head_need:hover,.navbar-inverse .head_need:focus{
    background: transparent;
    
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #999999;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color: #222222;
}
.navbar-inverse{
    .navbar-nav{
      li{
          width: 100px;
          text-align: center;
          height: 100px;
          margin: 0 5px;
          position: static;         
          >a{
              padding: 0;
              line-height: 100px;
              color: #222222;
              font-size: 18px;
          }
          >dl{
              position: absolute;
              left: 0;
              display: none;
              width: 100%;
              height: 60px;              
              background-color: #f9f9f9;
              dd{
                  width: 80px;
                  height: 60px;
                  line-height:60px;
                  display: inline-block;
                  margin:0 20px;
                  a{
                      color: #333333;
                      font-size: 18px;
                  }
              }
              dd:hover{
                  line-height: 56px;
                  border-bottom: $baseColor 4px solid;
                  a{
                    color: $baseColor;
                  }                 
              }
          }
      }
      li.on{         
          >a{
              color: #FFFFFF;
              background-color: $baseColor;
          }
      }
      li:hover{         
          >a{
              color: #FFFFFF;
              background-color: $baseColor;
          }
          >dl{
              display: block;
          }
      }      
    }
    .need{
          width: 100px;
          text-align: center;
          height: 100px;
          line-height: 100px;
          margin: 0 5px;
          color: #ff0000;
          font-size: 18px;
      }
}


//轮播图
.banner {
    width: 100%; 
    position: relative; 
    overflow: hidden;
    margin-top: 100px;
    overflow: hidden;   
    .swiper-slide{
        img{
            width: 100%;
            min-height: 150px;
        }
    }  
}

//主营业务
.index_business{
    width: 100%;
    overflow: hidden;
    margin: 65px 0;
    .title{
        width: 100%;
        text-align: center;
        .name{
            color: $baseColor;
            font-size: 28px;
            display: block;
            font-weight: bold;
        }
        .english{
            color: $baseColor;
            font-size: 16px;
            display: block;
            margin-bottom: 20px;
        }
        .txt{
            color: #333333;
            font-size: 16px;
            line-height: 2;
        }
    }
    .box{
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 60px;
        .row{
            margin-left: -30px;
            margin-right: 15px;
        }
        li{
            margin-bottom: 30px;
        }
        .pic{
            width: 100%;
            text-align: center;
            border-radius:50% ;
            overflow: hidden;
            img{
                max-width: 100%;
            }
        }
        .txt{
            width: 100%;
            text-align: center;
            .name{
                color: $baseColor;
                margin: 30px 0;
                display: block;
                font-size: 18px;
            }
            .tag{
                color: #333333;
                font-size: 14px;
                line-height: 2;
            }
        }
    }
    .more{
        width: 100%;
        overflow: hidden;
        text-align: center;
        .link{
            width: 160px;
            height: 40px;
            border-radius:50px ;
            border: #cccccc 1px solid;
            line-height: 40px;
            display: inline-block;
            color: #999999;
            font-size: 14px;
        }
    }
}

//品牌
.index_brand{
    width: 100%;   
    background-color: #f6f6f6;
    overflow: hidden;
    .title{
        width: 100%;
        text-align: center;
        margin: 60px 0;
        overflow: hidden;
        .name{
            color: #333333;
            font-size: 26px;
            line-height: 2;
        }
        .tag{
            color: #333333;
            font-size: 16px;
        }
    }
    .box{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .row{
            margin-left: -30px;
            margin-right: 15px;
        }
        li{ 
            margin-bottom: 15px;  
            text-align: center;  
            img{
                max-width: 100%;
            }
        }
    }
    .more{
        width: 100%;
        overflow: hidden;
        text-align: center;
        margin: 30px 0;
        .link{
            width: 160px;
            height: 40px;
            border-radius:50px ;
            background-color: #e2e2e2;
            line-height: 40px;
            display: inline-block;
            color: #999999;
            font-size: 14px;
        }
    }
}

//新闻
.index_news{
    width: 100%;
    padding-bottom: 55px;
    .title{
        width: 100%;
        margin: 55px 0;
        color: $baseColor;
        text-align: center;
        .name{
            font-size: 28px;
            font-weight: bold;
            line-height: 2;
        }
        .tag{
            font-size: 16px;
        }
    }
    .box{
        overflow: hidden; 
        li{
            margin-bottom: 20px;
            overflow: hidden;
        }      
        .pic{
            width: 25%;
            float: left;
            img{
                width: 100%;
            }
        }
        .txt{
            width: 70%;
            float: left;
            margin-left:3%;
            overflow: hidden;
            .name{
                color: #333333;
                font-size: 20px;
                float: left;
            }
            .name:hover{
                color: $baseColor;
            }
            .time{
                color: #666666;
                float: right;
                font-size: 20px;
            }
            .tag{
                display: block;
                width: 100%;
                float: left;
                margin-top: 50px;
                line-height: 2;
            }
        }
    }
    .more{
        width: 100%;
        overflow: hidden;
        text-align: center;
        .link{
            width: 160px;
            height: 40px;
            border-radius:50px ;
            border: #cccccc 1px solid;
            line-height: 40px;
            display: inline-block;
            color: #999999;
            font-size: 14px;
        }
    }
}

.index_tel{
    width: 100%;
    text-align: center;
    background-color: #999999;
    padding: 20px 0;
    overflow: hidden;
    img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    span{
        color: #FFFFFF;
        font-size: 80px;
        display: inline-block;
        vertical-align: middle;
    }
}
