@charset "utf-8";
//初始化样式
$baseColor:#529824;
body{
    font-family: "微软雅黑";
}
a:hover,a:focus{text-decoration: none;}
.navbar{
    min-height: 100px;
    background-color: #FFFFFF;
    border: none;
    .container{
        padding: 0;
    }
}
.nav_logo{
    padding: 16px 15px;
}
.navbar-inverse .head_need{
    padding: 0;
    border: none;
    position: relative;
}
.navbar-inverse .head_need:hover,.navbar-inverse .head_need:focus{
    background: transparent;
    
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #999999;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color: #222222;
}
.navbar-inverse{
    .navbar-nav{
      li{
          width: 100px;
          text-align: center;
          height: 100px;
          margin: 0 5px;
          position: static;         
          >a{
              padding: 0;
              line-height: 100px;
              color: #222222;
              font-size: 18px;
          }
          >dl{
              position: absolute;
              left: 0;
              display: none;
              width: 100%;
              height: 60px;              
              background-color: #f9f9f9;
              dd{
                  width: 80px;
                  height: 60px;
                  line-height:60px;
                  display: inline-block;
                  margin:0 20px;
                  a{
                      color: #333333;
                      font-size: 18px;
                  }
              }
              dd:hover{
                  line-height: 56px;
                  border-bottom: $baseColor 4px solid;
                  a{
                    color: $baseColor;
                  }                 
              }
          }
      }
      li.on{
          background-color: $baseColor;
          a{
              color: #FFFFFF;
          }
      }
      li:hover{
          background-color: #529824;
          >a{
              color: #FFFFFF;
          }
          >dl{
              display: block;
          }
      }      
    }
    .need{
          width: 100px;
          text-align: center;
          height: 100px;
          line-height: 100px;
          margin: 0 5px;
          color: #ff0000;
          font-size: 18px;
      }
}
