@charset "UTF-8";
body {
  font-family: "微软雅黑"; }

li {
  list-style: none; }

a:hover, a:focus {
  text-decoration: none; }

.navbar {
  min-height: 100px;
  background-color: #FFFFFF;
  border: none; }
  .navbar .container {
    padding: 0; }

.nav_logo {
  padding: 16px 15px; }

.navbar-inverse .head_need {
  padding: 0;
  border: none;
  position: relative; }

.navbar-inverse .head_need:hover, .navbar-inverse .head_need:focus {
  background: transparent; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #999999; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #222222; }

.navbar-inverse .navbar-nav li {
  width: 100px;
  text-align: center;
  height: 100px;
  margin: 0 5px;
  position: static; }
  .navbar-inverse .navbar-nav li > a {
    padding: 0;
    line-height: 100px;
    color: #222222;
    font-size: 18px; }
  .navbar-inverse .navbar-nav li > dl {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    height: 60px;
    background-color: #f9f9f9; }
    .navbar-inverse .navbar-nav li > dl dd {
      width: 80px;
      height: 60px;
      line-height: 60px;
      display: inline-block;
      margin: 0 20px; }
      .navbar-inverse .navbar-nav li > dl dd a {
        color: #333333;
        font-size: 18px; }
    .navbar-inverse .navbar-nav li > dl dd:hover {
      line-height: 56px;
      border-bottom: #529824 4px solid; }
      .navbar-inverse .navbar-nav li > dl dd:hover a {
        color: #529824; }
.navbar-inverse .navbar-nav li.on > a {
  color: #FFFFFF;
  background-color: #529824; }
.navbar-inverse .navbar-nav li:hover > a {
  color: #FFFFFF;
  background-color: #529824; }
.navbar-inverse .navbar-nav li:hover > dl {
  display: block; }
.navbar-inverse .need {
  width: 100px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  margin: 0 5px;
  color: #ff0000;
  font-size: 18px; }

.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  overflow: hidden; }
  .banner .swiper-slide img {
    width: 100%;
    min-height: 150px; }

.swiper-pagination-bullet {
  width: 60px;
  border-radius: 5px;
  background-color: #FFFFFF;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background-color: #529824; }

.swiper-button-prev {
  background: url(../images/1_05.jpg) no-repeat; }

.swiper-button-next {
  background: url(../images/1_06.jpg) no-repeat; }

.swiper-button-next, .swiper-button-prev {
  width: 60px;
  height: 120px;
  margin-top: -60px;
  opacity: 0.5;
  background-size: 100% 100%; }

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1; }

/*************************************
            index.html
*************************************/
.index_business {
  width: 100%;
  overflow: hidden;
  margin: 65px 0; }
  .index_business .title {
    width: 100%;
    text-align: center; }
    .index_business .title .name {
      color: #529824;
      font-size: 28px;
      display: block;
      font-weight: bold; }
    .index_business .title .english {
      color: #529824;
      font-size: 16px;
      display: block;
      margin-bottom: 20px; }
    .index_business .title .txt {
      max-width: 1200px;
      margin: 0 auto;
      color: #333333;
      font-size: 16px;
      line-height: 2;
      padding: 0 20px; }
  .index_business .box {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px; }
    .index_business .box .row {
      margin-left: -30px;
      margin-right: 15px; }
    .index_business .box li {
      margin-bottom: 30px; }
    .index_business .box .pic {
      width: 100%;
      text-align: center;
      border-radius: 50%;
      overflow: hidden; }
      .index_business .box .pic img {
        max-width: 100%; }
    .index_business .box .txt {
      width: 100%;
      text-align: center; }
      .index_business .box .txt .name {
        color: #529824;
        margin: 30px 0;
        display: block;
        font-size: 18px; }
      .index_business .box .txt .tag {
        color: #333333;
        font-size: 14px;
        line-height: 2; }
  .index_business .more {
    width: 100%;
    overflow: hidden;
    text-align: center; }
    .index_business .more .link {
      width: 160px;
      height: 40px;
      border-radius: 50px;
      border: #cccccc 1px solid;
      line-height: 40px;
      display: inline-block;
      color: #999999;
      font-size: 14px; }

.index_brand {
  width: 100%;
  background-color: #f6f6f6;
  overflow: hidden; }
  .index_brand .title {
    width: 100%;
    text-align: center;
    margin: 60px 0;
    overflow: hidden; }
    .index_brand .title .name {
      color: #333333;
      font-size: 26px;
      line-height: 2; }
    .index_brand .title .tag {
      color: #333333;
      font-size: 16px; }
  .index_brand .box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
    .index_brand .box .row {
      margin-left: -30px;
      margin-right: 15px; }
    .index_brand .box li {
      margin-bottom: 15px;
      text-align: center; }
      .index_brand .box li img {
        max-width: 100%; }
  .index_brand .more {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 30px 0; }
    .index_brand .more .link {
      width: 160px;
      height: 40px;
      border-radius: 50px;
      background-color: #e2e2e2;
      line-height: 40px;
      display: inline-block;
      color: #999999;
      font-size: 14px; }

.index_news {
  width: 100%;
  padding-bottom: 55px; }
  .index_news .title {
    width: 100%;
    margin: 55px 0;
    color: #529824;
    text-align: center; }
    .index_news .title .name {
      font-size: 28px;
      font-weight: bold;
      line-height: 2; }
    .index_news .title .tag {
      font-size: 16px; }
  .index_news .box {
    overflow: hidden; }
    .index_news .box li {
      margin-bottom: 20px;
      overflow: hidden; }
    .index_news .box .pic {
      width: 25%;
      float: left; }
      .index_news .box .pic img {
        width: 100%; }
    .index_news .box .txt {
      width: 70%;
      float: left;
      margin-left: 3%;
      overflow: hidden; }
      .index_news .box .txt .name {
        color: #333333;
        font-size: 20px;
        float: left; }
      .index_news .box .txt .name:hover {
        color: #529824; }
      .index_news .box .txt .time {
        color: #666666;
        float: right;
        font-size: 20px; }
      .index_news .box .txt .tag {
        width: 100%;
        float: left;
        margin-top: 40px;
        line-height: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }
  .index_news .more {
    width: 100%;
    overflow: hidden;
    text-align: center; }
    .index_news .more .link {
      width: 160px;
      height: 40px;
      border-radius: 50px;
      border: #cccccc 1px solid;
      line-height: 40px;
      display: inline-block;
      color: #999999;
      font-size: 14px; }

.index_tel {
  width: 100%;
  text-align: center;
  background-color: #999999;
  padding: 20px 0;
  overflow: hidden; }
  .index_tel img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
  .index_tel span {
    color: #FFFFFF;
    font-size: 80px;
    display: inline-block;
    vertical-align: middle; }

.all_foot {
  width: 100%;
  background-color: #529824;
  overflow: hidden; }
  .all_foot .left_foot {
    float: left;
    margin: 60px 0;
    margin-right: 40px; }
    .all_foot .left_foot p {
      color: #ffffff;
      font-size: 16px; }
  .all_foot .right_foot {
    float: left;
    max-width: 740px;
    margin: 60px 0; }
    .all_foot .right_foot .name {
      display: block;
      color: #ffffff;
      font-size: 16px; }
    .all_foot .right_foot a {
      color: #FFFFFF;
      font-size: 14px;
      display: inline-block;
      margin-right: 15px;
      margin-top: 15px; }
  .all_foot .foot_company {
    width: 100%;
    padding: 8px 0;
    background-color: #FFFFFF;
    text-align: center; }
    .all_foot .foot_company p {
      color: #333333;
      font-size: 12px;
      margin: 0; }

.suspend {
  position: fixed;
  top: 45%;
  right: 20px;
  z-index: 9999; }
  .suspend li {
    width: 50px;
    padding: 10px 0;
    background-color: #cccccc;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    color: #FFFFFF; }
  .suspend li:hover {
    background-color: #529824; }
  .suspend .wechat {
    position: relative; }
    .suspend .wechat .wechat_box {
      width: 140px;
      height: 170px;
      border: #cccccc 1px solid;
      position: absolute;
      left: -140px;
      top: -63px;
      text-align: center;
      display: none; }
      .suspend .wechat .wechat_box img {
        margin: 10px 0; }
      .suspend .wechat .wechat_box span {
        color: #333333;
        font-size: 18px; }
  .suspend .wechat:hover .wechat_box {
    display: block; }

.need_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: none; }
  .need_box .need_bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.6; }
  .need_box .box {
    width: 520px;
    height: 360px;
    position: absolute;
    left: 50%;
    margin-left: -260px;
    top: 50%;
    margin-top: -180px;
    background-color: #FFFFFF;
    z-index: 2; }
    .need_box .box .head {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: #eeeeee;
      position: relative; }
      .need_box .box .head span {
        color: #ff0000;
        font-size: 24px; }
      .need_box .box .head .close {
        width: 18px;
        height: 17px;
        position: absolute;
        right: 20px;
        top: 20px; }
    .need_box .box .content {
      width: 100%;
      overflow: hidden; }
      .need_box .box .content ul {
        margin: 0;
        padding: 0;
        overflow: hidden; }
      .need_box .box .content li {
        margin-left: 40px;
        margin-top: 22px;
        overflow: hidden; }
        .need_box .box .content li .name {
          color: #333333;
          font-size: 14px;
          margin-right: 20px;
          padding: 0; }
        .need_box .box .content li .text {
          width: 148px;
          margin-right: 20px;
          padding: 0; }
        .need_box .box .content li .check_box {
          margin-left: 30px;
          color: #333333;
          font-size: 14px;
          position: relative;
          font-weight: normal; }
        .need_box .box .content li .check_box:before {
          content: '';
          width: 12px;
          height: 12px;
          background: url(../images/1_11.png);
          position: absolute;
          left: -20px;
          top: 4px; }
        .need_box .box .content li .check_box.on:before {
          background: url(../images/1_12.png); }
      .need_box .box .content .submit_box {
        width: 100%;
        text-align: center;
        overflow: hidden;
        margin-top: 45px; }
        .need_box .box .content .submit_box .submit {
          width: 200px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          cursor: pointer;
          background-color: #529824;
          border-radius: 5px;
          color: #FFFFFF;
          font-size: 18px;
          border: none; }
  .need_box .box_768 {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 20%;
    background-color: #FFFFFF;
    z-index: 2;
    padding-bottom: 20px; }
    .need_box .box_768 .head {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: #eeeeee;
      position: relative; }
      .need_box .box_768 .head span {
        color: #ff0000;
        font-size: 24px; }
      .need_box .box_768 .head .close {
        width: 18px;
        height: 17px;
        position: absolute;
        right: 20px;
        top: 20px; }
    .need_box .box_768 .content {
      width: 100%;
      overflow: hidden; }
      .need_box .box_768 .content ul {
        margin: 0;
        padding: 0;
        overflow: hidden; }
      .need_box .box_768 .content li {
        text-align: center;
        margin-top: 22px;
        overflow: hidden; }
        .need_box .box_768 .content li .name {
          color: #333333;
          font-size: 14px;
          margin-right: 20px;
          padding: 0; }
        .need_box .box_768 .content li .select {
          width: 130px;
          padding: 0;
          text-align: center; }
        .need_box .box_768 .content li .text {
          width: 130px;
          padding: 0; }
        .need_box .box_768 .content li .check_box {
          margin-left: 30px;
          color: #333333;
          font-size: 14px;
          position: relative;
          font-weight: normal; }
        .need_box .box_768 .content li .check_box:before {
          content: '';
          width: 12px;
          height: 12px;
          background: url(../images/1_11.png);
          position: absolute;
          left: -20px;
          top: 4px; }
        .need_box .box_768 .content li .check_box.on:before {
          background: url(../images/1_12.png); }
      .need_box .box_768 .content .submit_box {
        width: 100%;
        text-align: center;
        overflow: hidden;
        margin-top: 45px; }
        .need_box .box_768 .content .submit_box .submit {
          width: 200px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          cursor: pointer;
          background-color: #529824;
          border-radius: 5px;
          color: #FFFFFF;
          font-size: 18px;
          border: none; }

/*************************************
            product.html
*************************************/
.left_nav {
  margin-top: 46px; }
  .left_nav .pro {
    width: 100%;
    overflow: hidden;
    border: #EEEEEE 1px solid;
    margin-bottom: 20px; }
    .left_nav .pro .name {
      width: 100%;
      height: 52px;
      line-height: 52px;
      background-color: #EEEEEE; }
      .left_nav .pro .name span {
        color: #333333;
        font-size: 18px;
        padding-left: 20px; }
    .left_nav .pro ul {
      width: 80%;
      margin: 0 auto;
      padding: 0;
      overflow: hidden; }
      .left_nav .pro ul li {
        width: 100%;
        cursor: pointer; }
        .left_nav .pro ul li span {
          width: 100%;
          height: 45px;
          line-height: 45px;
          display: block;
          background: url(../images/1_16.png) no-repeat left;
          color: #333333;
          font-size: 16px;
          padding-left: 15%;
          border-bottom: #eeeeee 1px solid; }
        .left_nav .pro ul li span.on {
          background: url(../images/1_17.png) no-repeat left; }
        .left_nav .pro ul li dl {
          width: 100%;
          overflow: hidden;
          display: none;
          margin: 0; }
          .left_nav .pro ul li dl dd {
            width: 100%;
            padding-left: 15%;
            width: 100%;
            height: 45px;
            line-height: 45px;
            border-bottom: #eeeeee 1px solid;
            color: #333333;
            font-size: 16px; }
          .left_nav .pro ul li dl dd.on {
            color: #529824; }
  .left_nav .news {
    width: 100%;
    overflow: hidden;
    border: #EEEEEE 1px solid;
    margin-bottom: 20px; }
    .left_nav .news .name {
      width: 100%;
      height: 52px;
      line-height: 52px;
      background-color: #EEEEEE; }
      .left_nav .news .name span {
        color: #333333;
        font-size: 18px;
        padding-left: 20px; }
    .left_nav .news ul {
      width: 80%;
      margin: 0 auto;
      padding: 0;
      overflow: hidden; }
      .left_nav .news ul li {
        width: 100%;
        height: 45px;
        line-height: 45px;
        display: block;
        background: url(../images/1_16.png) no-repeat left;
        padding-left: 15%;
        border-bottom: #eeeeee 1px solid; }
        .left_nav .news ul li a {
          width: 100%;
          display: block;
          color: #666;
          font-size: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
      .left_nav .news ul li:last-child {
        border: none; }
  .left_nav .contact ul li {
    width: 100%;
    padding: 0;
    background: none;
    height: auto;
    color: #666;
    font-size: 16px; }

.pro_box {
  margin-top: 46px; }
  .pro_box .title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: #cccccc 1px solid; }
    .pro_box .title a {
      color: #333333;
      font-size: 16px; }
  .pro_box .box ul {
    padding: 0; }
    .pro_box .box ul li {
      margin-bottom: 10px; }
      .pro_box .box ul li .pic {
        width: 100%;
        border: #cccccc 1px solid; }
        .pro_box .box ul li .pic img {
          max-width: 100%; }
      .pro_box .box ul li .txt {
        width: 100%;
        padding: 10px 0;
        text-align: center; }
        .pro_box .box ul li .txt a {
          color: #333333;
          font-size: 14px; }

.page {
  width: 100%;
  text-align: right;
  margin: 20px 0;
  overflow: hidden;
  float: right;
  color: #666666;
  font-size: 12px;
  margin-right: 35px; }

.page a {
  width: 38px;
  height: 38px;
  border: #dddddd 1px solid;
  text-align: center;
  line-height: 38px;
  color: #666666;
  font-size: 12px;
  display: inline-block;
  margin: 0 6px; }

.page a.on {
  background-color: #b9d60c;
  border: #b9d60c 1px solid; }

.page a:hover {
  background-color: #b9d60c;
  border: #b9d60c 1px solid; }

.page input {
  width: 38px;
  height: 38px;
  border: #dddddd 1px solid;
  text-align: center;
  line-height: 38px;
  color: #666666;
  font-size: 12px;
  display: inline-block;
  margin: 0 6px; }

.page button {
  width: 58px;
  height: 38px;
  border: #dddddd 1px solid;
  text-align: center;
  line-height: 38px;
  color: #666666;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 6px;
  background: none;
  padding: 0; }

.page button:focus {
  outline: none; }

.page button:hover {
  color: #FFFFFF;
  background-color: #b9d60c;
  border: #f9dc76 1px solid; }

/*************************************
            product_detail.html
*************************************/
.detail_banner {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: 17px; }
  .detail_banner .gallery-top {
    width: 100%;
    height: 280px;
    overflow: hidden; }
    .detail_banner .gallery-top .swiper-slide {
      width: 100%;
      height: 280px;
      background-size: cover;
      background-position: center; }
  .detail_banner .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%; }

.detail_tag {
  width: 100%;
  margin-top: 20px;
  overflow: hidden; }
  .detail_tag .txt {
    color: #666666;
    font-size: 16px;
    margin-top: 18px;
    overflow: hidden; }
    .detail_tag .txt .name {
      font-weight: bold; }
    .detail_tag .txt label {
      text-align: center;
      font-weight: normal;
      display: inline-block;
      vertical-align: top;
      padding: 0; }
    .detail_tag .txt span {
      display: inline-block;
      padding: 0; }

.detail_txt {
  width: 100%;
  margin-top: 20px;
  border-top: #cccccc 1px dashed;
  overflow: hidden; }
  .detail_txt .name {
    width: 100%;
    padding: 20px 0;
    color: #666666;
    font-size: 24px;
    text-align: center; }
  .detail_txt .txt p {
    text-indent: 2em;
    color: #666666;
    font-size: 14px;
    line-height: 2; }

.detail_page {
  width: 100%;
  margin: 20px 0;
  overflow: hidden; }
  .detail_page .prev {
    float: left;
    color: #333333;
    font-size: 16px; }
  .detail_page .next {
    float: right;
    color: #333333;
    font-size: 16px; }
  .detail_page a:hover {
    color: #529824; }

/*************************************
            news.html
*************************************/
.news_box {
  margin-top: 46px; }
  .news_box .title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: #cccccc 1px solid; }
    .news_box .title a {
      color: #333333;
      font-size: 16px; }
  .news_box .box {
    width: 100%;
    overflow: hidden; }
    .news_box .box ul {
      padding: 0;
      margin: 0;
      width: 100%;
      overflow: hidden; }
      .news_box .box ul li {
        width: 100%;
        overflow: hidden;
        margin-top: 26px; }
        .news_box .box ul li .pic {
          border: #CCCCCC 1px solid;
          padding: 0; }
          .news_box .box ul li .pic img {
            width: 100%; }
        .news_box .box ul li .txt {
          overflow: hidden; }
          .news_box .box ul li .txt .name {
            color: #333333;
            font-size: 20px;
            float: left; }
          .news_box .box ul li .txt .name:hover {
            color: #529824; }
          .news_box .box ul li .txt .time {
            color: #666666;
            float: right;
            font-size: 20px; }
          .news_box .box ul li .txt .tag {
            width: 100%;
            float: left;
            margin-top: 40px;
            line-height: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; }

/*# sourceMappingURL=common.css.map */
