@charset "utf-8";
//初始化样式
$baseColor:#529824;
body{
    font-family: "微软雅黑";
}
li{list-style: none;}
a:hover,a:focus{text-decoration: none;}
.navbar{
    min-height: 100px;
    background-color: #FFFFFF;
    border: none;
    .container{
        padding: 0;
    }
}
.nav_logo{
    padding: 16px 15px;
}
.navbar-inverse .head_need{
    padding: 0;
    border: none;
    position: relative;
}
.navbar-inverse .head_need:hover,.navbar-inverse .head_need:focus{
    background: transparent;
    
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #999999;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color: #222222;
}
.navbar-inverse{
    .navbar-nav{
      li{
          width: 100px;
          text-align: center;
          height: 100px;
          margin: 0 5px;
          position: static;         
          >a{
              padding: 0;
              line-height: 100px;
              color: #222222;
              font-size: 18px;
          }
          >dl{
              position: absolute;
              left: 0;
              display: none;
              width: 100%;
              height: 60px;              
              background-color: #f9f9f9;
              dd{
                  width: 80px;
                  height: 60px;
                  line-height:60px;
                  display: inline-block;
                  margin:0 20px;
                  a{
                      color: #333333;
                      font-size: 18px;
                  }
              }
              dd:hover{
                  line-height: 56px;
                  border-bottom: $baseColor 4px solid;
                  a{
                    color: $baseColor;
                  }                 
              }
          }
      }
      li.on{         
          >a{
              color: #FFFFFF;
              background-color: $baseColor;
          }
      }
      li:hover{         
          >a{
              color: #FFFFFF;
              background-color: $baseColor;
          }
          >dl{
              display: block;
          }
      }      
    }
    .need{
          width: 100px;
          text-align: center;
          height: 100px;
          line-height: 100px;
          margin: 0 5px;
          color: #ff0000;
          font-size: 18px;
      }
}


//轮播图
.banner {
    width: 100%; 
    position: relative; 
    overflow: hidden;
    margin-top: 100px;
    overflow: hidden;   
    .swiper-slide{
        img{
            width: 100%;
            min-height: 150px;
        }
    }  
}
.swiper-pagination-bullet{
    width: 60px;
    border-radius:5px ;
    background-color: #FFFFFF;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: $baseColor;
}
.swiper-button-prev{
    background: url(../images/1_05.jpg) no-repeat;
}
.swiper-button-next{
    background: url(../images/1_06.jpg) no-repeat;
}
.swiper-button-next, .swiper-button-prev{
    width: 60px;
    height: 120px;
    margin-top: -60px;
    opacity: 0.5;
    background-size: 100% 100%;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
}


/*************************************
            index.html
*************************************/
//主营业务
.index_business{
    width: 100%;
    overflow: hidden;
    margin: 65px 0;
    .title{
        width: 100%;
        text-align: center;
        .name{
            color: $baseColor;
            font-size: 28px;
            display: block;
            font-weight: bold;
        }
        .english{
            color: $baseColor;
            font-size: 16px;
            display: block;
            margin-bottom: 20px;
        }
        .txt{
            max-width: 1200px;
            margin: 0 auto;
            color: #333333;
            font-size: 16px;
            line-height: 2;
            padding: 0 20px;
        }
    }
    .box{
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 60px;
        .row{
            margin-left: -30px;
            margin-right: 15px;
        }
        li{
            margin-bottom: 30px;
        }
        .pic{
            width: 100%;
            text-align: center;
            border-radius:50% ;
            overflow: hidden;
            img{
                max-width: 100%;
            }
        }
        .txt{
            width: 100%;
            text-align: center;
            .name{
                color: $baseColor;
                margin: 30px 0;
                display: block;
                font-size: 18px;
            }
            .tag{
                color: #333333;
                font-size: 14px;
                line-height: 2;
            }
        }
    }
    .more{
        width: 100%;
        overflow: hidden;
        text-align: center;
        .link{
            width: 160px;
            height: 40px;
            border-radius:50px ;
            border: #cccccc 1px solid;
            line-height: 40px;
            display: inline-block;
            color: #999999;
            font-size: 14px;
        }
    }
}

//品牌
.index_brand{
    width: 100%;   
    background-color: #f6f6f6;
    overflow: hidden;
    .title{
        width: 100%;
        text-align: center;
        margin: 60px 0;
        overflow: hidden;
        .name{
            color: #333333;
            font-size: 26px;
            line-height: 2;
        }
        .tag{
            color: #333333;
            font-size: 16px;
        }
    }
    .box{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .row{
            margin-left: -30px;
            margin-right: 15px;
        }
        li{ 
            margin-bottom: 15px;  
            text-align: center;  
            img{
                max-width: 100%;
            }
        }
    }
    .more{
        width: 100%;
        overflow: hidden;
        text-align: center;
        margin: 30px 0;
        .link{
            width: 160px;
            height: 40px;
            border-radius:50px ;
            background-color: #e2e2e2;
            line-height: 40px;
            display: inline-block;
            color: #999999;
            font-size: 14px;
        }
    }
}

//新闻
.index_news{
    width: 100%;
    padding-bottom: 55px;
    .title{
        width: 100%;
        margin: 55px 0;
        color: $baseColor;
        text-align: center;
        .name{
            font-size: 28px;
            font-weight: bold;
            line-height: 2;
        }
        .tag{
            font-size: 16px;
        }
    }
    .box{
        overflow: hidden; 
        li{
            margin-bottom: 20px;
            overflow: hidden;
        }      
        .pic{
            width: 25%;
            float: left;
            img{
                width: 100%;
            }
        }
        .txt{
            width: 70%;
            float: left;
            margin-left:3%;
            overflow: hidden;
            .name{
                color: #333333;
                font-size: 20px;
                float: left;
            }
            .name:hover{
                color: $baseColor;
            }
            .time{
                color: #666666;
                float: right;
                font-size: 20px;
            }
            .tag{
                width: 100%;
                float: left;
                margin-top: 40px;
                line-height: 2;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp:3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .more{
        width: 100%;
        overflow: hidden;
        text-align: center;
        .link{
            width: 160px;
            height: 40px;
            border-radius:50px ;
            border: #cccccc 1px solid;
            line-height: 40px;
            display: inline-block;
            color: #999999;
            font-size: 14px;
        }
    }
}

.index_tel{
    width: 100%;
    text-align: center;
    background-color: #999999;
    padding: 20px 0;
    overflow: hidden;
    img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    span{
        color: #FFFFFF;
        font-size: 80px;
        display: inline-block;
        vertical-align: middle;
    }
}

//底部
.all_foot{
    width: 100%;
    background-color: $baseColor;
    overflow: hidden;
    .left_foot{
        float: left;
        margin: 60px 0;
        margin-right: 40px;
        p{
            color: #ffffff;
            font-size: 16px;
        }
    }
    .right_foot{
        float: left;
        max-width: 740px;
        margin: 60px 0;
        .name{
            display: block;
            color: #ffffff;
            font-size: 16px;
        }
        a{
            color: #FFFFFF;
            font-size: 14px;
            display: inline-block;
            margin-right: 15px;
            margin-top: 15px;
        }
    }
    .foot_company{
        width: 100%;
        padding: 8px 0;
        background-color: #FFFFFF;
        text-align: center;
        p{
            color: #333333;
            font-size: 12px;
            margin: 0;
        }
    }
}
//悬浮
.suspend{
    position: fixed;
    top: 45%;
    right: 20px;
    z-index: 9999;
    li{
        width: 50px;
        padding: 10px 0;
        background-color: #cccccc;
        margin-bottom: 15px;
        text-align: center;
        line-height: 1;
        cursor: pointer;
        color: #FFFFFF;
    }
    li:hover{
        background-color: $baseColor;
    }
    .wechat{
        position: relative;
        .wechat_box{
            width: 140px;
            height: 170px;
            border: #cccccc 1px solid;
            position: absolute;
            left:-140px;
            top: -63px;
            text-align: center;
            display: none;
            img{
                margin: 10px 0;
            }
            span{
                color: #333333;
                font-size: 18px;
            }
        }
    }
    .wechat:hover{
        .wechat_box{
            display: block;
        }
    }
}


//需求弹框
.need_box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
    .need_bg{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000000;
        opacity: 0.6;
    }
    .box{
        width: 520px;
        height: 360px;
        position: absolute;
        left: 50%;
        margin-left: -260px;
        top: 50%;
        margin-top: -180px;
        background-color: #FFFFFF;
        z-index: 2;
        .head{
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: #eeeeee;
            position: relative;
            span{
                color: #ff0000;
                font-size: 24px;
            }
            .close{
                width: 18px;
                height: 17px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
        .content{
            width: 100%;
            overflow: hidden;
            ul{
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            li{
                margin-left: 40px;
                margin-top: 22px;
                overflow: hidden;
                .name{
                    color: #333333;
                    font-size: 14px;
                    margin-right: 20px;
                    padding: 0;
                }
                .text{
                    width: 148px;
                    margin-right: 20px;
                    padding: 0;
                }
                
                .check_box{
                   margin-left: 30px;
                   color: #333333;
                   font-size: 14px;
                   position: relative;
                   font-weight: normal; 
                }
                .check_box:before{
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: url(../images/1_11.png);
                    position: absolute;
                    left: -20px;
                    top: 4px;
                }
                .check_box.on:before{
                    background: url(../images/1_12.png);
                }
            }
            .submit_box{
                width: 100%;
                text-align: center;
                overflow: hidden;
                margin-top: 45px;
                .submit{
                    width: 200px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                    background-color: $baseColor;
                    border-radius:5px ;
                    color: #FFFFFF;
                    font-size: 18px;
                    border: none;
                }
            }
        }     
    }
    .box_768{
        width: 80%;
        position: absolute;
        left: 10%;
        top: 20%;
        background-color: #FFFFFF;
        z-index: 2;
        padding-bottom: 20px;
        .head{
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: #eeeeee;
            position: relative;
            span{
                color: #ff0000;
                font-size: 24px;
            }
            .close{
                width: 18px;
                height: 17px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
        .content{
            width: 100%;
            overflow: hidden;
            ul{
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            li{
                text-align: center;
                margin-top: 22px;
                overflow: hidden;
                .name{
                    color: #333333;
                    font-size: 14px;
                    margin-right: 20px;
                    padding: 0;
                }
                .select{
                    width: 130px;
                    padding: 0;
                    text-align: center;
                }
                .text{
                    width: 130px;                   
                    padding: 0;
                }
                
                .check_box{
                   margin-left: 30px;
                   color: #333333;
                   font-size: 14px;
                   position: relative;
                   font-weight: normal; 
                }
                .check_box:before{
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: url(../images/1_11.png);
                    position: absolute;
                    left: -20px;
                    top: 4px;
                }
                .check_box.on:before{
                    background: url(../images/1_12.png);
                }
            }
            .submit_box{
                width: 100%;
                text-align: center;
                overflow: hidden;
                margin-top: 45px;
                .submit{
                    width: 200px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                    background-color: $baseColor;
                    border-radius:5px ;
                    color: #FFFFFF;
                    font-size: 18px;
                    border: none;
                }
            }
        }     
    }
    
}


/*************************************
            product.html
*************************************/
.left_nav{
    margin-top: 46px;
    .pro{
        width: 100%;
        overflow: hidden;
        border: #EEEEEE 1px solid;
        margin-bottom: 20px;
        .name{
            width: 100%;
            height: 52px;
            line-height: 52px;
            background-color: #EEEEEE;
            span{
                color: #333333;
                font-size: 18px;
                padding-left: 20px;
            }
        }
        ul{
            width: 80%;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
            li{
                width: 100%;
                cursor: pointer;               
                span{
                    width: 100%;
                    height:45px;
                    line-height: 45px;
                    display: block;
                    background: url(../images/1_16.png) no-repeat left;
                    color: #333333;
                    font-size: 16px;
                    padding-left: 15%;
                    border-bottom: #eeeeee 1px solid;
                }
                span.on{
                    background: url(../images/1_17.png) no-repeat left;
                }
                dl{
                     width: 100%;
                    overflow: hidden;
                    display: none;
                    margin: 0;
                    dd{
                        width: 100%;
                        padding-left: 15%;
                        width: 100%;
                        height: 45px;
                        line-height: 45px;
                        border-bottom: #eeeeee 1px solid;
                        color: #333333;
                        font-size: 16px;
                    }
                    dd.on{
                        color: $baseColor;
                    }
                }
            }
        }
    }
    
    .news{
        width: 100%;
        overflow: hidden;
        border: #EEEEEE 1px solid;
        margin-bottom: 20px;
        .name{
            width: 100%;
            height: 52px;
            line-height: 52px;
            background-color: #EEEEEE;
            span{
                color: #333333;
                font-size: 18px;
                padding-left: 20px;
            }
        }
        ul{
            width: 80%;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
            li{
                width: 100%;
                height:45px;
                line-height: 45px;
                display: block;
                background: url(../images/1_16.png) no-repeat left;
                padding-left: 15%;
                border-bottom: #eeeeee 1px solid;
                a{
                    width:100%;
                    display: block;
                    color: #666;
                    font-size: 16px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;                    
                }
            }
            li:last-child{
                border: none;
            }
        }
    }
    .contact{
        ul{
            li{
                width: 100%;
                padding: 0;
                background: none;
                height: auto;
                color: #666;
                font-size: 16px;
            }
        }
    }
}


.pro_box{
    margin-top: 46px;
    .title{
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        border-bottom: #cccccc 1px solid;
        a{
           color: #333333;
           font-size: 16px; 
        }
    }
    .box{
        ul{
            padding: 0;
            li{
                margin-bottom: 10px;
                .pic{
                    width: 100%;
                    border: #cccccc 1px solid;
                    img{
                        max-width: 100%;
                    }
                }
                .txt{
                    width: 100%;
                    padding: 10px 0;
                    text-align: center;
                    a{
                        color: #333333;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

//页码
.page{
    width: 100%;
    text-align: right;  
    margin: 20px 0;
    overflow: hidden;
    float: right;
    color: #666666;
    font-size: 12px;
    margin-right: 35px;
}
.page a{
    width: 38px;
    height: 38px;
    border: #dddddd 1px solid;
    text-align: center;
    line-height: 38px;
    color: #666666;
    font-size: 12px;
    display: inline-block;
    margin:0 6px;
}
.page a.on{
    background-color: #b9d60c;
    border: #b9d60c 1px solid;
}
.page a:hover{
    background-color: #b9d60c;
    border: #b9d60c 1px solid;
}
.page input{
    width: 38px;
    height: 38px;
    border: #dddddd 1px solid;
    text-align: center;
    line-height: 38px;
    color: #666666;
    font-size: 12px;
    display: inline-block;
    margin:0 6px;
}
.page button{
    width: 58px;
    height: 38px;
    border: #dddddd 1px solid;
    text-align: center;
    line-height: 38px;
    color: #666666;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 6px;
    background: none;
    padding: 0;
}
.page button:focus{
    outline: none;
}
.page button:hover{
    color: #FFFFFF;
    background-color: #b9d60c;
    border: #f9dc76 1px solid;
}


/*************************************
            product_detail.html
*************************************/

.detail_banner{    
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 17px;
    .gallery-top {
        width: 100%;
        height: 280px;
        overflow: hidden;
        .swiper-slide{
            width: 100%;
            height: 280px;
            background-size: cover;
            background-position: center;
        }
    }
    .swiper-pagination{
        .swiper-pagination-bullet{
            width: 8px;
            height: 8px;
            border-radius:50%;
        }
    }  
}
.detail_tag{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    .txt{
        color: #666666;
        font-size: 16px;
        margin-top: 18px;
        overflow: hidden;
        .name{
            font-weight: bold;
        }
        label{
            text-align: center;
            font-weight: normal;
            display: inline-block;
            vertical-align: top;
            padding: 0;
        }
        span{
            display: inline-block;
            padding: 0;
        }
    }
}

.detail_txt{
    width: 100%;
    margin-top: 20px;
    border-top: #cccccc 1px dashed;
    overflow: hidden;
    .name{
        width: 100%;
        padding: 20px 0;
        color: #666666;
        font-size: 24px;
        text-align: center;
    }
    .txt{
        p{
            text-indent: 2em;
            color: #666666;
            font-size: 14px;
            line-height: 2;
        }
    }
}
.detail_page{
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    .prev{
       float: left;
       color: #333333;
       font-size: 16px; 
    }
    .next{
       float: right;
       color: #333333;
       font-size: 16px; 
    }
    a:hover{
        color: $baseColor;
    }
}


/*************************************
            news.html
*************************************/

.news_box{
    margin-top: 46px;
    .title{
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        border-bottom: #cccccc 1px solid;
        a{
           color: #333333;
           font-size: 16px; 
        }
    }
    .box{
        width: 100%;
        overflow: hidden;
        ul{
            padding: 0;
            margin: 0;
            width: 100%;
            overflow: hidden;
            li{
                width: 100%;
                overflow: hidden;
                margin-top: 26px;
                .pic{
                    border: #CCCCCC 1px solid;
                    padding: 0;
                    
                    img{
                        width: 100%;
                    }
                }
                .txt{
                    overflow: hidden;
                    .name{
                        color: #333333;
                        font-size: 20px;
                        float: left;
                    }
                    .name:hover{
                        color: $baseColor;
                    }
                    .time{
                        color: #666666;
                        float: right;
                        font-size: 20px;
                    }
                    .tag{
                        width: 100%;
                        float: left;
                        margin-top: 40px;
                        line-height: 2;
                        overflow : hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}
