@media only screen and (max-width: 1200px) {
  .news_box .box ul li .txt .tag {
    margin-top: 20px; } }
@media only screen and (max-width: 992px) {
  .banner-prev, .banner-next {
    width: 40px;
    height: 90px;
    margin-top: -45px; }

  .swiper-pagination-bullet {
    width: 50px; }

  .index_news .box .txt .tag {
    margin-top: 20px; } }
@media only screen and (max-width: 768px) {
  .swiper-pagination-switch {
    width: 40px;
    height: 5px; }

  .swiper-pagination {
    bottom: 10px; }

  .navbar-inverse .btns {
    margin-top: 23px;
    margin-right: 23px; }

  .nav_logo {
    padding: 6px 15px; }

  .navbar-inverse .btns:focus, .navbar-inverse .btns:hover {
    background: none; }

  .container > .navbar-header {
    margin: 0; }

  .container > .navbar-collapse {
    margin: 0;
    padding: 0;
    max-height: none; }

  .navbar-inverse .navbar-nav {
    margin: 0; }
    .navbar-inverse .navbar-nav li {
      width: 100%;
      overflow: hidden;
      text-align: left;
      height: auto;
      margin: 0; }
      .navbar-inverse .navbar-nav li > a {
        line-height: 50px;
        color: #222222;
        font-size: 16px;
        padding-left: 30px; }
        .navbar-inverse .navbar-nav li > a .icon {
          float: right;
          margin-right: 40px;
          font-size: 20px; }
      .navbar-inverse .navbar-nav li > dl {
        height: auto;
        position: relative;
        background-color: #FFFFFF; }
        .navbar-inverse .navbar-nav li > dl dd {
          width: 100%; }
          .navbar-inverse .navbar-nav li > dl dd a {
            color: #222222;
            font-size: 14px;
            padding-left: 30px; }
        .navbar-inverse .navbar-nav li > dl dd:hover {
          line-height: 60px;
          border: none; }
          .navbar-inverse .navbar-nav li > dl dd:hover a {
            color: #222222; }
    .navbar-inverse .navbar-nav li.on a {
      background-color: transparent;
      color: #222222; }
    .navbar-inverse .navbar-nav li:hover > a {
      color: #FFFFFF;
      background-color: #529824; }
    .navbar-inverse .navbar-nav li:hover > dl {
      display: none; }
  .navbar-inverse .need {
    width: 100px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: #ff0000;
    font-size: 16px; }

  .index_news .box .txt, .news_box .box .txt {
    width: 94%; }
    .index_news .box .txt .name, .news_box .box .txt .name {
      width: 100%; }
    .index_news .box .txt .time, .news_box .box .txt .time {
      float: left;
      margin-top: 10px; }
    .index_news .box .txt .tag, .news_box .box .txt .tag {
      margin-top: 20px;
      text-overflow: clip;
      overflow: inherit;
      -webkit-line-clamp: inherit;
      font-size: 14px; }

  .index_tel span {
    font-size: 40px; }

  .all_foot {
    margin-bottom: 98px; }

  .foot_768 {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 98px;
    background-color: #FFFFFF;
    overflow: hidden; }
    .foot_768 ul {
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0; }
    .foot_768 li {
      width: 33.33%;
      float: left;
      text-align: center;
      color: #666666;
      font-size: 18px;
      padding: 0;
      margin: 0; }
      .foot_768 li a {
        color: #666666;
        font-size: 18px; }
      .foot_768 li img {
        display: block;
        margin: 12px auto; }

  .page_768 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    overflow: hidden; }
    .page_768 a {
      width: 60px;
      height: 30px;
      display: inline-block;
      margin: 5px;
      border: #dddddd 1px solid;
      text-align: center;
      line-height: 30px;
      color: #666666; } }
@media only screen and (max-width: 500px) {
  .index_business .box li {
    width: 100%; }

  .all_foot {
    margin-bottom: 80px; }

  .foot_768 {
    height: 80px; }
    .foot_768 li {
      font-size: 16px; }
      .foot_768 li a {
        font-size: 16px; }
      .foot_768 li img {
        width: 30px;
        height: 30px;
        margin: 8px auto; } }

/*# sourceMappingURL=min-screen.css.map */
